<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nexio</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>

<body>
  {% include 'topnav.html' %}
  <div class="main-container">
    <div class="postdiv">
      <form id="postform">
        <label for="estado">What are you thinking?</label><br>
        <textarea id="textpost" name="estado" placeholder="Write your status here..."></textarea><br>
        <button id="submitPost">Submit post</button>
      </form>
    </div>
    
    <div id="allpost"></div>
  </div>
  <script src="{{ url_for('static', path='/js/home.js') }}"></script>
</body>

</html>