<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Nexio</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>

<body>
    {% include 'topnav.html' %}
    <div class="form-container">
        <h2 class="form-title">Register for Nexio</h2>
        <form id="registerForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-input" type="email" id="email" name="email" placeholder="you@example.com">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-input" type="text" id="username" name="username" title="Only letters and numbers"
                    placeholder="username">
            </div>
            <div class="form-group">
                <label for="displayName">Display Name</label>
                <input class="form-input" type="text" id="displayName" name="displayName"
                    placeholder="Your display name">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-input" type="password" id="password" name="password" title="Minimum 12 characters"
                    placeholder="••••••••">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input class="form-input" type="password" id="confirmPassword" name="confirmPassword"
                    title="Minimum 12 characters" placeholder="••••••••">
            </div>
            <div class="form-group">
                <button class="form-button" type="submit">Register</button>
            </div>
            <p class="form-footer-text">Already have an account? <a href="/login">Sign In</a></p>
        </form>
        <div id="responseMessage"></div>
    </div>
    <script src="{{ url_for('static', path='js/register.js') }}"></script>
</body>

</html>